<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wzx.pro.dao.reach.RobotReachRecordDetailMapper" >
  <resultMap id="BaseResultMap" type="com.wzx.pro.domain.reach.RobotReachRecordDetailEntity" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="flow_no" property="flowNo" jdbcType="VARCHAR" />
    <result column="phone_no" property="phoneNo" jdbcType="VARCHAR" />
    <result column="is_delete" property="isDelete" jdbcType="TINYINT" />
    <result column="date_created" property="dateCreated" jdbcType="TIMESTAMP" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="date_updated" property="dateUpdated" jdbcType="TIMESTAMP" />
    <result column="updated_by" property="updatedBy" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, flow_no,phone_no,is_delete, date_created, created_by, date_updated, updated_by
  </sql>

  <select id="findByFlowNo" parameterType="com.wzx.pro.domain.reach.RobotReachRecordDetailEntity" resultMap="BaseResultMap">
    select * from ots_robot_reach_record_detail where flow_no=#{flowNo}
  </select>

  <select id="findByList" parameterType="java.util.List" resultMap="BaseResultMap">
    select * from ots_robot_reach_record_detail where
    flow_no in
    <foreach collection="list" item="item" close=")" open="(" separator=",">
      #{item}
    </foreach>
  </select>

  <insert id="insert" parameterType="com.wzx.pro.domain.reach.RobotReachRecordDetailEntity" >
    insert into ots_robot_reach_record_detail (flow_no,phone_no)
    values (#{flowNo,jdbcType=VARCHAR}, #{phoneNo,jdbcType=VARCHAR})
  </insert>
</mapper>